<h3>What's on your mind, {{username}}?</h3>
<nav>
    <ul>
        <li>Home</li>
        <li>Dashboard</li>
        <li>Logout</li>
    </ul>
</nav>

{{> loggedIn }}
<script src="/js/homepage.js"></script>
