<section>
    <h2>Create your account</h2>
    <form id="signup-form">
        <input type="text" username>
        <input type="text" email address>
        <input type="text" password>
        <button>Sign Up</button>
    </form>
</section>

<script src="/js/signup.js"></script>