<section class="select-action">
    <ul>
        <li>
            <button>New Post</button>
            </li>
        <li>
            <button>Edit Post</button>
            </li> 
        {{!-- link Edit post to view all posts to select which to edit? --}}
    </ul>
</section>



<script src="/js/dashboard.js"></script>