<h2>Word on the street:</h2>

<section id="blog-feed">
    {{#each blogs as |blog|}}
    <article class="blog-card">
        <header class="card-header">
            <h2>{{blog.title}}</h2>
            <h3>Created by: {{user.username}}, {{blog.date_created}}</h3>
        </header>
    </article>
    {{/each}}
</section>

<script src="/js/home.js"></script>