<section id="blog-feed">
    {{#each blogs as |blog|}}
    <article class="blog-card">
        <header class="card-header">
            <h2>{{blog.title}}</h2>
            <h3>{{blog.author}} {{blog.date_created}}</h3>
        </header>
        <p>{{blog.content}}</p>
    </div>
    {{/each}}
</section>

<script src="/js/homepage.js"></script>