<section id="add-blog">
    <h2>Write a new post</h2>
    <form id="newBlog-form">
        <input type="text" Title>
        <input type="text" Content>
        <button>Save</button>
    </form>
</section>