/* body {
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: center;
} */

.blog-card {
    background-color: rgba(229, 255, 204, .25);
}

.card-header h2 {
    font-weight: bold;
}

.card-header h3 {
    font-style: italic;
}