body {
    background-image: url(images/background-image.jpg);
}

.blog-card {
    background-color: rgba(229, 255, 204, .25);
}

.card-header h2 {
    font-weight: bold;
}

.card-header h3 {
    font-style: italic;
}